@import url("style.css");

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3em;
}

.iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1em;
    color:white;
    font-size: var(--size-lg);
    font-weight: 900;
    color: white;
    margin-bottom: 0.5em;
}

.iconContainer li {
    display: flex;
    text-align: center;
    font-size: var(--size-sm);
    color: #FFEFEFEF;
}

.icons {
    width: var(--size-4xl);
    height: var(--size-4xl);
    display: block;
}

.iconContainer svg {
    width: var(--size-4xl);
    height: var(--size-4xl);
    display: block;
    fill: #FFEFEFEF;
}

.iconContainer svg:hover {
    fill: var(--clr-rose);
}

footer button {
    font-size: var(--size-2xl);
}

/* md */
@media (min-width: 767px) {
    footer button {
    font-size: var(--size-3xl) !important;
    }
    iconContainer svg {
    width: var(--size-7xl);
    height: var(--size-7xl);
    }
    .iconContainer li {
        font-size: var(--size-lg);
    }
    

}

/* xl */
@media (min-width: 1439px) {
    footer button {
        font-size: var(--size-5xl) !important;
    }
    iconContainer svg {
    width: var(--size-9xl);
    height: var(--size-9xl);
    }
    .iconContainer li {
        font-size: var(--size-3xl);
    }
} 



